<po-page-default
  p-title="Visão Geral de Tarefas"
  [p-actions]="actions"
  [p-breadcrumb]="breadcrumb">

  <po-container class="po-lg-6">
    <po-widget
      class="po-lg-6 po-mb-1"
      p-title="Tarefas Canceladas">

      <div class="po-font-subtitle po-text-center">10</div>
    </po-widget>

    <po-widget
      class="po-lg-6 po-mb-1"
      p-title="Tarefas Iniciadas">

      <div class="po-font-subtitle po-text-center">5</div>
    </po-widget>

    <po-widget
      class="po-lg-6 po-mb-1"
      p-title="Tarefas Concluídas">

    <div class="po-font-subtitle po-text-center">4</div>
  </po-widget>

  </po-container>

</po-page-default>

<po-modal
  p-title="Compartilhar página"
  [p-primary-action]="shareAction"
  [p-secondary-action]="cancelAction">

  <form #formShare="ngForm">
    <po-email
      class="po-lg-12"
      name="email"
      [(ngModel)]="email"
      p-clean
      p-label="Coloque um email para compartilhar essa página"
      p-required>
    </po-email>
  </form>

</po-modal>